* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 252, 220, 0.8);
  padding-top: 30px;

}
.App {
  background-color: rgba(255, 252, 220, 0.8);
  width: 793px;
  height: 1122px;
  position: relative;
  z-index: 2;
  /* border: 2px solid black;
  padding: 0px 20px; */
  
  /* padding: 20px; */
  /* padding-bottom: 00px; */
}
.photo_container {
  position: absolute;
  content: "";
  right: 0;
  margin-right: -70px;
  top: 18px;
}
.bg_gradient{
  width: 100vw;
  height:400vh;
  position: absolute;
  opacity: 0.08;
  left: 18%;
  top:25%;
  z-index: -1;
}
/* .printout{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
} */
/* .print{
  padding: 4px 30px;
  background-color: #010165;
  color: white;
  border-radius: 25px;
  margin-top: 15px;
  font-size: 16px;
  cursor: pointer;
}
.print:hover{
  padding: 4px 30px;
  background-color: white;
  color: white;
  border-radius: 25px;
  margin-top: 15px;
  font-size: 16px;
  color : #010165;
}
 */
 .print{
  padding: 4px 30px;
  background-color: #010165;
  color: white;
  border-radius: 25px;
  margin-top: 75px;
  font-size: 16px;
  cursor: pointer;
 
}
