* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  .header {
    width: 100%;
    padding: 10px;
    position: relative;
  }
  .header_head {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .header img {
    position: absolute;
    content: "";
    left: 30px;
    top: 18px;
    width: 100%;
    max-width: 100px;
  }
  .header_head2 {
    text-transform: capitalize;
  
    letter-spacing: 1px;
    text-align: center;
    font-size: 17px;
    margin-bottom: 10px;
    color:#A3443A;
  }
  .header_head3 {
    text-transform: capitalize;
    text-align: center;
    font-size: 16px;
  
  }
  .header_head4 {
      text-transform: capitalize;
      text-align: center;
      font-size: 16px;
      margin-top: 8px;
      font-weight: 600;
    }
  .profile_input {
      background: transparent;
      border: none;
      outline: none;
      width: 50px;
      margin-bottom: 14px;
      color:black;
      padding-left: 6px;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .header_line{
        width: 99%;
        margin-top: 20px;
        height: 3px;
        background-color: black;
    }